

@import url('https://fonts.googleapis.com/css?family=Titan+One');

body{text-align:center}
div{display:block;position:absolute}

.container{
	width: 100%;
	height: 100%;
	top:10%;
	left:50%;
	transform:translate(-50%,-50%)
	}

h1{
	background:#fff;
	width:100%;
	height:100%;
  margin: 0;
  padding: 0;
  position: "absolute";
	display:flex;
	font-family:'Titan One',cursive;
	font-size: 30px;
	font-weight:700;
	flex-flow:row wrap;
	align-content:center;
	justify-content:center
	}

h1 span{width:100%;position:relative}

h1 span:before{
	background:linear-gradient(58deg,#195de4,#e87d3b,#fc5c7f);
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	content:"";
	mix-blend-mode:luminosity;
	}

.auth_display {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  width: 80vh;
  height: 40vh;
}

.display {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translate(0%, 50%);
  transform: translate(0%, 50%);
}

input[type=text] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 16px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

.button-display {
  display: flex;
  margin-top: 30vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.answer {
  display: flex;
  margin-top: 40vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1ed7f4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}